body {
  font-size: 20px;
}

#board {
  width: 400px;
  height: 400px;
}

td {
  border: 1px solid black;
  cursor: pointer;
  width: 11.11111111%;
  height: 11.11111111%;
  text-align: center;
}

td:not(.revealed):hover {
  background-color: #ddd;
}

.revealed.mine {
  background-color: black;
}

.revealed:not(.mine) {
  background-color: silver;
}
